{{ attach_library('hpm/fade-ins') }}
<article{{ attributes.addClass('node', 'node--' ~ node.bundle) }}>
  {{ title_prefix }}
  {{ title_suffix }}
  <div{{ content_attributes }}>
    {{ content }}
  </div>
</article>
