{{ attach_library('hpm/fade-ins') }}
<article{{ attributes.addClass('node', 'node--landing-page') }}>
  {{ title_prefix }}
  {{ title_suffix }}
  <div{{ content_attributes }}>
    {{ content.field_paragraphs }}
  </div>
</article>
