{% set theme = content.field_theme|render|striptags|trim %}
<section{{ attributes.addClass('content-section') }}
  {% if theme %}data-theme="{{ theme }}"{% endif %}>
  <div class="section-container grid grid-cols-12 gap-7 js-element-group">
    <div class="col-span-12
                sm:col-span-10 sm:col-start-2
                md:col-span-4 md:col-start-2
                lg:col-span-3 lg:col-start-2">
      {% if content.field_headline|render|trim %}
        <h2 class="h3-serif text-hpm-red">{{ content.field_headline }}</h2>
      {% endif %}
    </div>
    <div class="col-span-12 flex flex-col items-start gap-6
                sm:col-span-10 sm:col-start-2
                md:col-span-5 md:col-start-7
                lg:col-span-4 lg:col-start-6">
      {% if content.field_text|render|trim %}
        <div class="formatted">
          {{ content.field_text }}
        </div>
      {% endif %}
      {% if content.field_link|render|trim %}
        <div class="button-container">
          {{ content.field_link }}
        </div>
      {% endif %}
    </div>
  </div>
</section>
