{#
/**
 * @file
 * Box teaser – image with overlapping colored content box.
 */
#}
{% set size = content.field_display_size|render|striptags|trim|default('large') %}
{% set box_position = content.field_box_position|render|striptags|trim|default('right') %}
<section{{ attributes.addClass('box-teaser', 'content-section', 'overflow-hidden', 'max-sm:[&:last-child]:mb-0') }}>
  <div class="section-container grid grid-cols-12 gap-x-5
              max-sm:px-0
              lg:gap-x-6">

    {# Image #}
    <div class="image col-span-12
                sm:col-span-10 {{ box_position == 'right' ? 'sm:col-start-1' : 'sm:col-start-3' }}
                md:col-span-7 md:col-start-auto
                lg:col-span-6
                xl:col-span-5
                {{ box_position == 'right' ? 'lg:col-start-2 xl:col-start-2' : 'md:order-2 lg:col-start-7' }}">
      <div class="relative">
        {% if content.field_image|render|trim %}
          <div class="image-container js-zoom-image" data-delay=".4">
            {{ content.field_image }}
          </div>
        {% endif %}
      </div>
    </div>

    {# Content Box #}
    <div class="box relative z-[2] col-span-12
                sm:col-span-10 sm:-mt-12
                md:col-span-5 md:mt-8
                lg:mt-12
                {{ box_position == 'right'
                    ? 'md:-ml-[3rem] lg:col-span-5 xl:col-span-4'
                    : 'md:order-1 lg:col-span-5 lg:col-start-2 xl:col-span-4 xl:col-start-2' }}">
      <div class="text-white bg-hpm-red js-element-group
                  px-6 py-8
                  sm:px-10 sm:py-11"
           data-theme="red">

        {% if content.field_logo|render|trim %}
          <div class="max-w-[15rem] w-[75vw] mb-7 sm:w-auto">
            <div class="image-container">
              {{ content.field_logo }}
            </div>
          </div>
        {% endif %}

        {% if content.field_headline|render|trim %}
          <h2 class="h3 text-white">
            {{ content.field_headline }}
          </h2>
        {% endif %}

        {% if content.field_text|render|trim %}
          <div class="formatted">
            {{ content.field_text }}
          </div>
        {% endif %}

        {% if content.field_link|render|trim %}
          <div class="button-container">
            {{ content.field_link }}
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</section>
